<section>
<div class="user-details">
    <div class="content-cover">
        <div class="content-profile">
            <img class="img-player" src="{{user.photoURL}}" alt="">
        </div>
        <div class="content-name">{{user.tagName}}</div>
    </div>
    <br>
    <div class="content-data-player">
        <div class="pos-player">
            <div class="content-img-player">
                <img class="img-pj" src="https://github.com/mikepruebas23/IMAGES/blob/master/characters/{{user.main}}?raw=true" alt="">
                <div class="result-name">{{POS}}</div>
            </div>
        </div>
        <div class="datos-player">
            <div class="df-icons">
                <div><img src="https://github.com/mikepruebas23/IMAGES/blob/master/stock/{{user.main}}?raw=true" alt="icon-character" width="50px" height="50px"></div>
                <div><img src="https://github.com/mikepruebas23/IMAGES/blob/master/stock/{{user.secondary}}?raw=true" alt="icon-character" width="50px" height="50px"></div>
            </div>
            <div class="text-info">{{user.displayName}}</div>
            <div class="text-info">{{user.switchCode}}</div>
            <!-- <app-user-details [itemId]="user.uid"></app-user-details> -->
        </div>
    </div>
</div>

    <div class="wrapper" (click)="showIcons()">
        <div class="emojis" *ngIf="showEmojis">
      
          <span *ngFor="let emoji of emojiList; index as i;" class="w18">
            <img [src]="emojiPath(emoji)" width='50px' (click)="react(i)">
          </span>
        </div>
      
        <span class="like" (click)="react(0)" [class.liked]="userReaction != null">Acción</span>
      
        <span *ngIf="userReaction != null">
          | Su Reacción <strong>{{ emojiList[userReaction] }}</strong>
        </span>
      
        <div class="reactions">
      
          <div *ngFor="let emoji of emojiList; index as i;" class="reaction-counts">
      
            <span *ngIf="hasReactions(i)">
              <img [src]="emojiPath(emoji)"> {{ reactionCount[i] }}
            </span>
      
          </div>
        </div>
    </div>


</section>
<a class="ir-arriba icon-arrow-up2" routerLink="/pr"><span class="material-icons">reply</span></a>
