<div class="container-content">
    <div class="card-profile">
        <div class="profile-header">
            <div class="img-profile">
                <img src="https://github.com/mikepruebas23/IMAGES/blob/master/logos/elMike.png?raw=true"  alt="img-profile">
            </div>
            
        </div>
        <div class="profile-content">
            <div class="txt-profile">EL MIKE</div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque possimus reprehenderit consectetur magni debitis.
            </div>
        </div>
        <div class="profile-footer">
            <div class="wa"><img src='https://raw.githubusercontent.com/mikepruebas23/IMAGES/master/social/whatsapp.png' alt="">6682313801</div>
            <div class="fb">
                <img src="https://raw.githubusercontent.com/mikepruebas23/IMAGES/master/social/facebook-gaming.png" alt=""><a href="https://www.facebook.com/elmikeGameplays/" target="_blank">El Mike</a>
            </div>
            <div class="email">
                <img src="https://raw.githubusercontent.com/mikepruebas23/IMAGES/master/social/gmail.png" alt="">armacomiguel@gmail.com</div>
        </div>
    </div>
</div>
<br>
