<br>
<div class="card mt-5 tac" >
    <div class="card-body">
        <h3 class="card-title text-center">Gracias por registerte!</h3>
        <div class="form-group">
            <p class="text-center">
                Enviamos un email de confirmacion a su email.
            </p>
            <p class="text-center">
                Revisa tu correo y entra en el link que te llego para confirmar la cuenta.
            </p>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary btn-v" (click)="onSendEmail()">Reenviar email de verificacion</button>
        </div>
    </div>
</div>
<br> 
<ng-template #loading>
    Cargando...
</ng-template>