.card {
    width: 90%;
    padding: 10px;
    border-radius: 2px;
    margin: 0 auto;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.tac{
    text-align: center;
}
.btn-v{
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    background: #7140c7;
    border-color: #392067;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: calc(.2rem + .0625rem);
    
}