<!-- <button (click)="show()">SHOW</button> -->
<!-- 
<div class="container">
  <div  class="card" *ngFor="let product of products">
      <div id="content-img"> <img src="{{product.data.photoURL}}" alt="Photo of a Product"></div>
      <div id="content-desc">
        <div><p>{{product.data.name}}</p> <p>{{product.data.price}} $</p></div>
        <p>{{product.data.desc}}</p>
        
        <p>Quedan: {{product.data.stock}} en stock.</p>
      </div>
      <div id="content-btn">
        <button mat-raised-button>Agregar</button>
      </div>
  </div>
</div> -->

<div class="container">
  <div class="lateral">
    <div>
      <h1 class="title-orange">Lista de Productos</h1>
    </div>
    <div id="list" class="list-item">
      <div id="list-header">
        <div>Cantidad</div>
        <div>Nombre</div>
        <div>Costo</div>
      </div>
      <div id="sp-list" *ngFor="let sp of showProducts">
        <div id="sp-items">
          <div>{{sp.cant}}</div>
          <div>{{sp.name}}</div>
          <div>{{sp.cost}}$</div>
          <span (click)="menosuno(sp.id)" id="less-icon" class="material-icons">remove</span>
          <span (click)="eliminar(sp.id)" id="delete-icon" class="material-icons">delete</span>
        </div>
      </div>
    </div>
    <div id="itotal" class="title-orange">{{sTotal}}$</div>
    <br>
    <div class="btn-content">
      <button id="btn-pagar" mat-raised-button >Pagar Carrito</button>
      <button mat-raised-button (click)="limpiarCarrito()">Vaciar Carrito</button>
    </div>
  </div>
  <div class="store">
    <div  class="card" *ngFor="let product of products">
      <div id="content-img"> <img src="{{product.data.photoURL}}" alt="Photo of a Product"></div>
      <div id="content-desc">
        <div id="text"><p>{{product.data.name}}</p></div>
        <!-- <p>Quedan: {{product.data.stock}} en stock.</p> -->
        <p id="desc">{{product.data.desc}}</p>
        <p id="price" class="title-orange">{{product.data.price}}$</p>
      </div>
      <div id="content-btn">
        <button mat-raised-button id="btn-agregar"(click)="addProduct(product.data.name,product.data.price)">Agregar</button>
      </div>
  </div>
  </div>
</div>